# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package
on:
  release:
    types: [created]
  pull_request:
  push:
    branches:
      - "main"
jobs:
  deploy:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        version: ['3.11', '3.12']
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r requirements.txt
    - name: Test
      run: pytest
    - name: Install for Publishing
      if: ${{ github.event_name == 'release' && matrix.version == '3.10' }}
      run: pip install setuptools wheel twine
    - name: Build and publish
      if: ${{ github.event_name == 'release' && matrix.version == '3.10' }}
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
